@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

/* Nav Bar */
.navbar {
  height: 80px;
  transition: background-color 0.5s ease, transform 0.5s ease;
  transform: translateY(0);
  background-color: rgba(255, 255, 255, 0.9);
}

.navbar-brand img{
  margin-right: 1rem !important;
}

.nav-link {
  color: #353f4f;
  font-size: 18px !important;
  font-weight: 800;
  position: relative;
  padding-bottom: 5px;
  overflow: hidden;
  text-decoration: none;
  font-weight: 600 !important;
}

.nav-link:hover {
  color: #03045E;
}

.nav-item {
  margin-right: 10px;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #03045E;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.5s ease;
}

.navbar .nav-link:hover::after,
.navbar .nav-link.active::after {
  width: 100%;
}

.navbar-transparent {
  background-color: transparent;
}

.navbar-colored {
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateY(-10px);
  box-shadow: 0 2px 3px rgba(96, 96, 96, .1);
}

.navbar-colored .container {
  padding-top: 10px;
}

.navbar-nav{
  margin-left: 1rem !important;
}

#btn-register {
  display: inline-grid;
  height: 45px;
  width: 120px;
  margin-right: 20px;
  background-color: transparent !important;
  border: solid 1px #15254d !important;
  color: #353f4f;
  font-weight: 800 !important;
  border-radius: 3px !important;

}

.btns-acess #btn-register:hover {
  background-color: #00000004 !important;
  filter: brightness(80%);
}

#btn-login {
  display: inline-grid;
  height: 45px;
  width: 120px;
  transition: background-color 0.3s ease, filter 0.3s ease;
  background-color: #15254d !important;
  border: none;
  border-radius: 3px !important;
  color: #fff;
}

.btns-acess #btn-login:hover {
  background-color: #15254d !important;
  filter: brightness(80%);
}

#btn-left {
  display: table-cell;
  height: 40px;
  width: 100px;
  transition: background-color 0.3s ease, filter 0.3s ease;
  background-color: red !important;
  border: none;
  border-radius: 3px !important;
  color: #fff;
}

/* Estilo específico para o menu colapsável */

.collapse .navbar-collapse .item-my-acount{
  margin-bottom: 30px;
}

.collapse .navbar-collapse .nav-item{
  margin-bottom: 15px;
}

.collapse .navbar-collapse .btns-acess{
  margin-top: 15px;
}

@media (max-width: 991px) {
  .navbar-brand{
    margin-left: 0px !important;
  }
  .navbar-collapse {
    background-color: white; /* Fundo branco */
    padding: 1rem; /* Espaço acima e abaixo */
    border-radius: 10px;
  }
}

/* MainSection */

#main_section {
  padding: 6rem;
  background-image: linear-gradient(180deg, rgba(0, 102, 255, 0.082) 50%, rgba(253, 253, 255, 0.8) 100%);
  display: flex;
  /* background-color: #f8f8f8; */
  align-items: center;
}

#img_car {
  position: relative;
  width: 800px !important;
  height: 400px !important;
}

.car-image {
  width: 100%;
  height: auto;
}

#first_section {
  max-width: 600px;
}

#first_section_title {
  font-size: 2rem;
  font-weight: bold;
}

#first_section_paragraph {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

#first_section_subtitle {
  font-weight: bold;
}

@media (max-width: 418px) {
  .input-box input::placeholder {
    font-size: 0.9rem;
  }

}
@media (max-width: 399px) {
  .input-box input::placeholder {
    font-size: 0.865rem;
  }
  .payment-icon{
    width: 50px;
  }
}

@media (max-width: 370px) {
  .input-box input::placeholder {
    font-size: 0.7rem; 
  }
  .payment-icon{
    width: 50px;
  }
}
@media (max-width: 340px) {
  .input-box input::placeholder {
    font-size: 0.685rem;
  }
  #btn_search{
    width: 32%;
    font-size: 10px;
  }
  .payment-icon{
    width: 50px;
  }
}

.input-box {
  position: relative;
  height: 76px;
  max-width: 900px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.input-box i,
.input-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input-box i {
  left: 20px;
  font-size: 30px;
  color: #707070;
}

.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}

.input-box .button {
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
  background-color: #e74c17;
  cursor: pointer;
}

.input-box .button:active {
  transform: translateY(-50%) scale(0.98);
}

.input-box input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

/* Responsive */
@media screen and (max-width: 500px) {
  .input-box {
    height: 66px;
    margin: 0 8px;
  }

  .input-box i {
    left: 12px;
    font-size: 25px;
  }

  .input-box input {
    padding: 0 112px 0 50px;
  }

  .input-box .button {
    right: 12px;
    font-size: 14px;
    padding: 8px 18px;
  }
}

@media (max-width: 991px){
  #main_section{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-bottom: 1rem !important;
  }
} 




/* card style */

.main-text-cards {
  font-weight: 600;
}

#card-container {
  background-color: white !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 20%;
  max-width: 300px;
  margin: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

#card-container:hover {
  transform: scale(1.05);
  /* Aumenta o tamanho do card em 5% */
  box-shadow: rgba(99, 99, 99, 0.3) 0px 4px 12px 0px;
  /* Intensifica a sombra */
}

#how-card-section {
  font-weight: 400;
}

#images-section-cards {
  padding: 20px 0;
}

.circle-number {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* background-color: #e74c17; */
  color: #e74c17;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.image-description {
  text-align: center;
  width: 100%;
}

.image-description p {
  margin: 0;
  font-size: 1rem;
  color: #333;
}


#btn-cta-card {
  height: 45px;
  width: fit-content;
  font-weight: 500;
  transition: background-color 0.4s ease, filter 0.4s ease;
  background-color: #e74c17 !important;
  border: none;
  border-radius: 3px !important;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 15px;

}

#btn-cta-card:hover {
  background-color: #e74c17 !important;
  filter: brightness(80%);
}

@media (min-width: 576px) {
  .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .cards-container{
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
  }
  #how-card-section{
    padding: 0px 50px 0px 50px;
  }
  .main-text-cards{
    padding: 0px 20px 0px 20px;
  }
  #card-container{
    width: 80%;
  }
}


/* about section */

#about_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
  background-image: linear-gradient(180deg, rgba(0, 102, 255, 0.041) 50%, rgba(0, 102, 255, 0.041) 50%);
}

.card-container {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  margin: 10px;
  width: 150px !important;
  height: 100px !important;
  position: relative;
  box-sizing: border-box;
}

.card-container h5 {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.card-container .card-text p {
  font-size: 12px;
  margin: 0;
}

.card-container.selected::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #e74c17;
}

.card-container.selected {
  transform: scale(1.05);
  background-color: #e74c17;
  color: white;
}

.selected-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 350px;
  padding-left: 10px;
  box-sizing: border-box;
}

#description-card {
  font-weight: 500;
  font-size: 18px;
}

#card-title-services {
  font-weight: bold;
}

.selected-card-info img {
  max-width: 100%;
  height: auto;
}

.small-text-info {
  font-size: 15px;
  line-height: 1.5;
}

.main-text-info {
  font-weight: 600;
  font-size: 35px;
}

@media (max-width: 991px) {
  .card-container {
    width: 100% !important; 
    height: auto !important;
    margin: 10px 0; 
  }

  .selected-card-info {
    width: 100%; /* Largura total para a descrição */
    max-width: none; /* Remove o limite máximo de largura */
    padding-left: 0; /* Remove o preenchimento à esquerda */
  }

  .selected-card-info {
    display: block; /* Exibe a descrição em bloco */
  }
  
  .card-container.selected {
    margin-bottom: 60px; /* Espaço adicional para a descrição */
  }
} 

@media (min-width: 992px){
  
}
/* prices section */

.card-table-price {
  border-radius: 0.5rem;
  border: none !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  color: #e74c17 !important;
}

.card-body {
  padding: 2rem;
}

.list-unstyled {
  padding-left: 0;
}

.list-unstyled li {
  font-size: 1.125rem;
}

.text-price {
  color: #000000 !important;
  font-weight: 700;
  margin-top: 0px;
}



.text-decoration-line-through {
  text-decoration: line-through;
}


#btn-buy-plan a {
  color: white;
}

#btn-buy-plan {
  height: 45px;
  width: fit-content;
  font-weight: 500;
  transition: background-color 0.4s ease, filter 0.4s ease;
  background-color: #e74c17 !important;
  border: none;
  border-radius: 10px !important;
  color: #fff;
  text-decoration: none;
  align-items: center;
  padding: 0 15px;
}

#btn-buy-plan:hover {
  background-color: #e74c17 !important;
  filter: brightness(80%);
}

.per-consult{
  font-size: 12px;
  color: #000000a2;
}

.talk-with-us-plan{
  color: #5a5959b4;
  text-align: center;
}

 .bi-check-circle-fill{
  color: #02024B !important;
}

@media (max-width: 991px) {
  .reviews-card{
    flex-wrap: wrap;
  }
}


/* footer */

.footer-section  ul {
  margin: 0px;
  padding: 0px;
}

.footer-section  #pages-ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.footer-section {
background: #333333;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline-block;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}

.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff5e14;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}

@media (max-width: 991px) {
  #fast-acess{
    justify-content: left !important;
  }
}


/* page login and register */

#btn-enter-members{
  height: 45px;
  width: fit-content;
  font-weight: 500;
  transition: background-color 0.4s ease, filter 0.4s ease;
  background-color: #e74c17 !important;
  border: none;
  border-radius: 10px !important;
  color: #fff;
  text-decoration: none;
  align-items: center;
  padding: 0 15px;
  border-radius: 2px;
}

#btn-enter-members:hover {
  background-color: #e74c17 !important;
  filter: brightness(80%);
}

#btn-google{
  background-color: white;
  border: none;
  border-radius: 40px;
}

#containerRegister{
  max-width: 500px !important;
  height: 830px !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

/* page my account */

.btn-function{
  margin-right: 10px !important;
  background-color: #e74c17 !important;
  border: none !important;
}

.input-serach-license-plate-history{
  width: 20% !important;
}

.hr-hitory-page{
  color: #00000062 !important;
}

.title-history-page{
  font-size: 2rem !important;
}

.description-history-page{
  font-size: 16px !important;
  color: #333333c0 !important;
}


#btn-download-pdf {
  background-color: #03045E !important; 
  border: none !important; 
  color: white !important; 
  padding: 0.5rem 1rem !important; 
  display: inline-block !important; 
  border-radius: 0.25rem !important;
  transition: background-color 0.3s !important; 
}

#btn-download-pdf:hover {
  background-color: #02024B !important; 
}

#btn-download-pdf a {
  color: white !important;
  text-decoration: none !important;
}

/* Estilo do overlay para escurecer o fundo */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor preta com opacidade */
  z-index: 1040; /* Abaixo da info-box */
}

/* Estilo da caixa de informações */
.info-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px; /* Ajuste conforme necessário */
  max-width: 90%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1050; /* Acima do overlay */
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.25rem; /* Ajuste o tamanho conforme necessário */
  color: #000; /* Ajuste a cor conforme necessário */
}

@media (min-width: 992px){
  .container-search-history{
    justify-content: space-between !important;
  }
}

@media (max-width: 991px) {
  .container-search-history{
    flex-wrap: wrap;
    justify-content: center !important;
  }

  .boxSearch{
    padding: 0px !important;
  }

  .input-serach-license-plate-history{
    width: 100% !important;
  }
  .container-buttons-action{
    flex-wrap: wrap;
  }
  .btn-function{
    width: 100%;
  }
}



/* contact page */
.title-contact-page h1{
  font-size: 35px !important;
  font-weight: bold;
}

.contact-link {
  text-decoration: none;
  color: inherit; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.contact-box {
  position: relative;
  width: 370px !important;
  height: 270px !important;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  transition: all 0.3s ease;
  box-shadow: 7px 7px 55px 0 #f2f3f6;
}

.contact-box i {
  font-size: 52px; 
  color: #01049b;
  position: absolute;
  transition: all 0.3s ease;
}

.icon-mode {
  margin-bottom: 70px;
}

.contact-box .text-title {
  font-size: 24px;
  font-weight: bold;
  color: #343a40;
  margin-top: 80px; 
  transition: margin-top 0.3s ease;
}

.contact-box .text {
  color: #343a40;
  margin-top: 1px;
  transition: opacity 0.3s ease, margin-top 0.3s ease;
}

.contact-box:hover {
  background-color: #e74c17;
}

.contact-box:hover i {
  opacity: 0;
  transform: translateY(-30px); 
}

.contact-box:hover .text-title {
  margin-top: 1px; 
  color: white;
}

.contact-box:hover .text {
  opacity: 1;
  color: white;
}

.contact-box:hover .arrow {
  opacity: 1;
  margin-top: 10px; 
  color: white;
  transform: translateY(0); /* Garante que a seta não se mova ao sair do hover */
}

.contact-box .arrow {
  opacity: 0;
  position: absolute;
  bottom: 10px; 
  font-size: 34px;
  color: #343a40;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Adiciona a transição para o transform */
  transform: translateY(20px); /* Inicialmente fora da vista */
}

.contact-grid {
  display: flex;
  gap: 10px; 
  justify-content: center;
  flex-wrap: wrap; 
}

/* my account */

.table-title{
  font-weight: 600;
  color: #02024B;
}

.btn-edit{
  background-color: #02024B !important;
  border: none;
}

.btn-return{
  background-color: #e74c17 !important;
  border: none;
}

.containerData2 {
  max-width: 1650px !important; /* Defina a largura máxima desejada */
  margin: 0 auto !important; /* Centraliza o contêiner */
  width: fit-content !important;
}