/* Nav Bar */
.navbar {
  height: 80px;
  transition: background-color 0.5s ease, transform 0.5s ease;
  transform: translateY(0);
  background-color: rgba(255, 255, 255, 0.9);
}

.nav-link {
  color: #353f4f;
  font-size: 16px;
  font-weight: 800;
  position: relative;
  padding-bottom: 5px;
  overflow: hidden;
  text-decoration: none;
}

.nav-link:hover {
  color: #03045E;
}

.nav-item {
  margin-right: 10px;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #03045E;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.5s ease;
}

.navbar .nav-link:hover::after,
.navbar .nav-link.active::after {
  width: 100%;
}

/* Botões de Acesso */
.btns-acess .btn {
  height: fit-content;
  transition: background-color 0.3s ease, filter 0.3s ease;
  background-color: #15254d !important;
  border: none;
  border-radius: 3px !important;
  color: #fff;
}

.btns-acess .btn:hover {
  background-color: #15254d !important;
  filter: brightness(80%);
}

/* Estilos de Navbar Transparente e Colorido */
.navbar-transparent {
  background-color: transparent;
}

.navbar-colored {
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateY(-10px);
  box-shadow: 0 2px 3px rgba(96, 96, 96, .1);
}

.navbar-colored .container {
  padding-top: 10px;
}

/* MainSection */

#main_section {
  padding: 2rem;
  background-image: linear-gradient(180deg, rgba(0, 102, 255, 0.041) 50%, rgba(236, 234, 253, .05) 100%);  display: flex;
  align-items: center;
}

#first_section {
  max-width: 600px;

}

#first_section_title {
  font-size: 2rem;
  font-weight: bold;
}

#first_section_paragraph {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

#first_section_search {
  margin-top: 2rem;
}

#title_input_search {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#input_search .btn {
  background-color: #03045E;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

#input_search .btn:hover {
  background-color: #023E8A;
}

#img_car {
  position: relative;
  width: 600px;
  height: 600px;
  margin-right: 2rem !important; 
}

#img_car img {
  width: 100%;
  height: auto;
}